.app {
  text-align: center;

  h1 {
    font-weight: bold;
    font-size: 36px;
  }

  h3 {
    margin: 2rem 0;
    font-size: 24px;
  }

  .list {
    list-style-type: none;

    .item {
      display: inline-block;

      a {
        margin: .5rem;
        font-size: 20px;
      }
    }
  }
}
