<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="/" class="logo-and-title">
        <clr-icon shape="home" class="is-solid" size="24"></clr-icon>
        <span class="title">Angular Clarity</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="/" class="active nav-link nav-text">Home</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">

      <!-- alert -->
      <div class="alert alert-primary">
        <div class="alert-items">
          <div class="alert-item static" role="alert">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">
              This is an alert with 36px height.
            </span>
          </div>
        </div>
        <button type="button" class="close" aria-label="Close">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
      </div>

      <!-- alert danger -->
      <div class="alert alert-danger">
        <div class="alert-items">
          <div class="alert-item static" role="alert">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">
              This is an alert with 36px height.
            </span>
          </div>
        </div>
        <button type="button" class="close" aria-label="Close">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
      </div>


    </div>
  </div>
</div>
