<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a routerLink="/" class="logo-and-title">
        <clr-icon shape="home" class="is-solid" size="24"></clr-icon>
        <span class="title">Angular Clarity</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/" class="active nav-link nav-text">Home</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">

      <h4>Badges</h4>
      <span class="badge">1</span>
      <span class="badge badge-purple">15</span>
      <span class="badge badge-blue">2</span>
      <span class="badge badge-orange">3</span>
      <span class="badge badge-light-blue">12</span>
      <span class="badge badge-1">90</span>
      <span class="badge badge-2">51</span>
      <span class="badge badge-3">25</span>
      <span class="badge badge-4">32</span>
      <span class="badge badge-5">57</span>

      <h4>Status Badges</h4>
      <span class="badge badge-info">2</span>
      <span class="badge badge-success">3</span>
      <span class="badge badge-warning">12</span>
      <span class="badge badge-danger">15</span>
    </div>
  </div>
</div>
