<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a routerLink="/" class="logo-and-title">
        <clr-icon shape="home" class="is-solid" size="24"></clr-icon>
        <span class="title">Angular Clarity</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/" class="active nav-link nav-text">Home</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">

      <div class="clr-row">
        <div class="clr-col-md-6 clr-col-sm-12">
          <h4>Basic Card</h4>
          <div class="card">
            <div class="card-header">
              Header
            </div>
            <div class="card-block">
              <div class="card-title">
                Block
              </div>
              <div class="card-text">
                ...
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-link">Footer Action 1</button>
              <button class="btn btn-sm btn-link">Footer Action 2</button>
            </div>
          </div>
        </div>

        <div class="clr-col-md-6 clr-col-sm-12">
          <h4>Clickable Cards</h4>
          <a routerLink="/home" class="card clickable">
            <div class="card-img">
              <img src="https://picsum.photos/200/100/?random">
            </div>
            <div class="card-block">
              <p class="card-text">
                ...
              </p>
            </div>
          </a>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <a routerLink="/home" class="card clickable">
            <div class="card-img">
              <img src="https://picsum.photos/200/300/?random" alt="..." />
            </div>
            <div class="card-block">
              <p class="card-text">
                ...
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <a routerLink="/home" class="card clickable">
            <div class="card-block">
              <p class="card-text">
                ...
              </p>
            </div>
            <div class="card-img">
              <img src="https://picsum.photos/200/300/?random" alt="..." />
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <a routerLink="/home" class="card clickable">
            <div class="card-block">
              <p class="card-text">
                ...
              </p>
            </div>
            <div class="card-img">
              <img src="https://picsum.photos/200/300/?random" alt="..." />
            </div>
            <div class="card-block">
              <p class="card-text">
                ...
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <a routerLink="/home" class="card clickable card-img">
            <img src="https://picsum.photos/200/300/?random" alt="..." />
          </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <a routerLink="/home" class="card clickable">
            <div class="card-img">
              <img src="https://picsum.photos/200/300/?random" alt="..." />
            </div>
          </a>
        </div>
      </div> -->

    </div>
  </div>
</div>
